.form{
  padding-top: 25px;
  margin-left:40px;
  margin-right:40px;
}

input{
  float: left;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height:40px;
}

input:focus{
  border: 1px solid rgba(0,0,0,.15);
}
button{
  height:40px;
  color:#fff;
  outline: hidden;
  border: 1px solid transparent;
  float: left;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--dark-blue-1);
}

button:active{
  background-color: var(--dark-blue-2);
}

button:focus{
  outline:none;
  border: 1px solid transparent;
}





