<p>
  <input type="text" class="name-control" id="name" required  [(ngModel)]="name" name="name">
  <button class="btn btn-primary" (click)="addChannel()">➕</button>
  <input type="text" class="name-control" id="rename" required  [(ngModel)]="rename" name="rename">
  <button class="btn btn-primary" (click)="renameCurrentChannel()">🖊</button>
  <button class="btn btn-primary" (click)="previousChannelPage()">⏪</button>
  <input type="text" class="name-control" id="page" required  [(ngModel)]="page" name="page">
  <button class="btn btn-primary" (click)="gotoChannelPage()">🖊</button>
  <button class="btn btn-primary" (click)="nextChannelPage()">⏩</button>
</p>
