.btn-group{
  margin-top:5px;
}

button, input,p{
  height:30px;
  line-height:30px;
  color:#000;
}

button{
  background-color: transparent;
  color:grey;
  font-size:18px;
  border:none;
}

button:hover{
  color:var(--blue);
}

p{
  margin-left:45px;
}

input{
  padding-left: 5px;
  width:70px;
  color:grey;
  border:none;
  background-color:transparent;
}

input:hover{
  border: 1px solid black;
}

input:focus{
  border: 1px solid black;
}

input:before{
  content:"@ "
}
