<div class="btn-group">
  <p>Pseudo :</p>
  <div *ngIf="this.isValid; else elseBlock">
    <input type="text" class="name-control" placeholder="Enter your username..." id="name" name="name" required
           [(ngModel)]="name" (keypress)="sendNameHandler($event.keyCode)">
  </div>
  <ng-template #elseBlock>
    <input type="text" class="name-control" placeholder="Enter your username..." id="name2" name="name" required
           [(ngModel)]="name" (keypress)="sendNameHandler($event.keyCode)" style="color:red;">
  </ng-template>
  <button (click)="logout()">LOGOUT</button>
</div>


