<div class="btn-group">
  <div>Pseudo :</div>
    <input type="text" class="name-control" placeholder="Enter your username..." id="name" name="name" required
           [(ngModel)]="name" (keypress)="sendNameHandler($event.keyCode)" [style.color]="!this.isValid ? 'red' : null">
  <button class="logout pull-right" (click)="logout()">Logout<i class="fa fa-sign-out" aria-hidden="true"></i></button>
  <!--<button (click)="sendName()"><i class="fa fa-pencil" aria-hidden="true"></i>
  </button>-->
</div>


