.header{
  margin:0 auto;
  text-align: center;
  background-color: var(--dark-blue-2);
  color:#fff;
  height:100px;
  line-height:100px;
  border-radius: 0px;
}

.header div, .header button, .header p{
  float: left;
}

h1{
  font-size:50px;
  padding-top: 20px;
  margin: 0 0 0 auto;
}

button, input{
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  height:40px;
}

button{
  margin-right:auto;
  width:40px;
  border:none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color:#c0c0c0;
  background-color: transparent;
  content:"salut";
}


input{
  border:solid 1px rgba(0,0,0,.15);
  font-size: 30px;
  padding:30px;
  text-align: center;
  background-color: #f1f0f0;
}


button:hover{
  color:#fff;
}

button:active{
  color: #ffffff;
}

button:focus{
  outline:none;
  border: 1px solid transparent;
}

h1 {
    text-align: center;
}

.edit{
  margin:0 0 0 auto;
}
