<div class="header card">
    <div class="btn-group">
        <h1 *ngIf="editName === false" title="{{this.channelService.currentChannel$.getValue().name}}">{{this.rename}} </h1>
        <div *ngIf="editName" class="edit">
            <input type="text" placeholder="{{this.channelService.currentChannel$.getValue().name}}"
                   class="name-control" id="rename" required [(ngModel)]="rename" name="rename"
                   (keypress)="renameCurrentChannelHandler($event.keyCode)">
        </div>
        <button (click)="toggleEditName()"><i class="fa fa-pencil fa-check" aria-hidden="true"></i></button>
    </div>
</div>
