<div class="channel">

    <div *ngIf="channel.id === currentChannelId; else elseBlock" class="current">
        <div class="name" title="{{channel.name}}">{{channel.shortname}}
            <button class="bouton" (click)="joinChannel()"><i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
            <div class="number">[{{channel.id}}]</div>
        </div>
    </div>

    <ng-template #elseBlock>

        <div class="name" title="{{channel.name}}">{{channel.shortname}}
            <button class="bouton" (click)="joinChannel()"><i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
            <div class="number">[{{channel.id}}]</div>
        </div>

    </ng-template>

</div>
