.card{
  padding-top:25px;
}
.main{
  float: none;
  display: flex;
  margin: 0 auto;
}

.card{
  border-radius:0px;
  float: left;
  min-height: 100vh;
}

.head{
  margin:0 auto;
  text-align: center;
}
.channels h1, .channels button{
  float:left;
}

.channels button{
  width:40px;
  height:40px;
  background-color: var(--dark-blue-1);
  color:#fff;
  border:none;
  border-radius: 10px;
  margin-left:20px;
}

button:active{
  background-color: var(--dark-blue-2) !important;
  border:none;
}


app-channel-list{
  overflow-y: scroll;
  overflow-x:hidden;
  max-height: 70vh;
  padding-right: 10px;
}

/* CHANNEL LIST SCROLL BAR */

app-channel-list::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

app-channel-list::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

app-channel-list::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  background-color: var(--dark-blue-1);
}




