<div class="container">
    <div class="">
        <div class="card channels col-md-4" *ngIf="dispChannels">
            <app-channel-new-form></app-channel-new-form>
            <app-channel-list></app-channel-list>
            <app-channel-page-form></app-channel-page-form>
        </div>

        <div  class="card {{dispChannels ? 'col-md-8 ': 'col-md-12'}}">
            <button (click)="displayChannels()">dones les sous stp</button>
            <app-channel-name-form></app-channel-name-form>
            <app-message-list></app-message-list>
            <app-message-form></app-message-form>
            <app-name-form></app-name-form>
        </div>

    </div>
</div>
