<div class="container">
    <div class="">
        <div class="col-md-4 card channels">
            <app-channel-new-form></app-channel-new-form>
            <app-channel-list></app-channel-list>
            <app-channel-page-form></app-channel-page-form>
        </div>
        <div class="col-md-8 card">
            <app-channel-name-form></app-channel-name-form>
            <app-message-list></app-message-list>
            <app-message-form></app-message-form>
            <app-name-form></app-name-form>
        </div>
    </div>
</div>
