<div class="container">
    <div class="">
        <div class="col-md-4 card channels">
            <div class="head">
                <h1>{{channel_title}}</h1>
                <button (click)="showChannelForm()"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <app-channel-new-form *ngIf="isShow"></app-channel-new-form>
            <app-channel-page-form></app-channel-page-form>
            <app-channel-list></app-channel-list>
            <app-name-form></app-name-form>
        </div>
        <div class="col-md-8 card">
            <app-channel-name-form></app-channel-name-form>
            <app-message-list></app-message-list>
            <app-message-form></app-message-form>
        </div>
    </div>
</div>
