h1 {
  text-align: center;
}

.card{
  border-radius:0px;
}


app-message-list,app-channel-list{
  overflow-y: scroll;
  overflow-x:hidden;
  max-height: 70vh;
  min-height: 80%;
}

app-name-form{
}
/*
app-channel-list{
  overflow-y: scroll;
  overflow-x:hidden;
}*/


