.card{
  padding-top:25px;
}
.main{
  float: none;
  display: flex;
  margin: 0 auto;
}

.card{
  border-radius:0px;
  float: left;
  min-height: 100vh;
  padding:0 !important;
  border:none !important;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}


.head{
  margin:0 auto;
  text-align: center;
  margin-top:25px;
}
.channels h1, .channels button{
  float:left;
}

.channels button{
  width:40px;
  height:40px;
  background-color: var(--dark-blue-1);
  color:#fff;
  border:none;
  border-radius: 10px;
  margin-left:20px;
}

button:active{
  background-color: var(--dark-blue-2) !important;
  border:none;
}


app-channel-list{
  overflow-y: scroll;
  overflow-x:hidden;
  max-height: 70vh;
  padding-right: 10px;
}

/* CHANNEL LIST SCROLL BAR */

app-channel-list::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

app-channel-list::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

app-channel-list::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  background-color: var(--dark-blue-1);
}

app-message-form{
  margin:15px 45px 0px 45px;
}



.card:first-child{
  -moz-box-shadow: -5px 0px 10px 2px #c0c0c0;
  -webkit-box-shadow: -5px 0px 10px 2px #c0c0c0;
  -o-box-shadow: -5px 0px 10px 2px #c0c0c0;
  box-shadow: -5px 0px 10px 2px #c0c0c0;
  padding-left:15px;
}

.card:last-child{
  -moz-box-shadow: 5px 0px 10px 2px #c0c0c0;
  -webkit-box-shadow: 5px 0px 10px 2px #c0c0c0;
  -o-box-shadow: 5px 0px 10px 2px #c0c0c0;
  box-shadow: 5px 0px 10px 2px #c0c0c0;
}

app-channel-page-form{
  text-align: center;
  margin-top:25px;
}

app-channel-new-form{
  margin:0 auto;
}

app-channel-list{
  margin-top:25px;
}

h1{
}


button:active{
  background-color: var(--dark-blue-2);
}

button:focus{
  outline:none;
  border: 1px solid transparent;
}
