<div class="message">

    <div *ngIf="message.from === name; else elseBlock" class="me">


        <div class="content tri-right left-top">

            <div *ngFor="let entry of msg">

                <a href={{entry}} target="_blank" *ngIf="isUrl(entry); else elseBlockMsgMe">{{entry}}</a>

                <span *ngIf="!isUrl(entry)"> {{entry}}</span>


            </div>


        </div>

        <div *ngFor="let entry of url">

            <br *ngIf="isUrl(entry)">

            <img *ngIf="isImg(entry)" [src]="entry"/>

            <iframe *ngIf="isInsta(entry)" [src]="entry | safe" height="375" scrolling="no"
                    frameborder="0">
                <p>Your browser does not support iframes.</p>
            </iframe>


            <iframe *ngIf="isYt(entry)" [src]="entry | safe" height="300" width="400"
                    frameborder="0" allowfullscreen>
                <p>Your browser does not support iframes.</p>
            </iframe>


            <iframe *ngIf="isTweet(entry)" [src]="retrieveTweet(entry) | safe" height="375" scrolling="no"
                    frameborder="0">
                <p>Your browser does not support iframes.</p>
            </iframe>

        </div>

    </div>

    <ng-template #elseBlock>
        <div class="content tri-right left-top">

            <div *ngFor="let entry of msg">

                <a href={{entry}} target="_blank" *ngIf="isUrl(entry); else elseBlockMsgMe">{{entry}}</a>

                <span *ngIf="!isUrl(entry)"> {{entry}}</span>


            </div>


        </div>

        <div *ngFor="let entry of url">

            <br *ngIf="isUrl(entry)">

            <img *ngIf="isImg(entry)" [src]="entry"/>

            <iframe *ngIf="isInsta(entry)" [src]="entry | safe" height="375" scrolling="no"
                    frameborder="0">
                <p>Your browser does not support iframes.</p>
            </iframe>


            <iframe *ngIf="isYt(entry)" [src]="entry | safe" height="300" width="400"
                    frameborder="0" allowfullscreen>
                <p>Your browser does not support iframes.</p>
            </iframe>


            <iframe *ngIf="isTweet(entry)" [src]="retrieveTweet(entry) | safe" height="375" scrolling="no"
                    frameborder="0">
                <p>Your browser does not support iframes.</p>
            </iframe>

        </div>
    </ng-template>

</div>
