<div class="message">

    <div *ngIf="message.from === name; else elseBlock" color=color>

        <div class="from">{{message.from}}</div>
        <div class="content tri-right left-top">{{message.content}}</div>

    </div>

    <ng-template #elseBlock>
        <div class="from">{{message.from}}</div>
        <div class="content tri-right left-top">{{message.content}}</div>
    </ng-template>

    <img *ngIf="img" src="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-444448.jpg"/>

</div>
