<div class="message">

    <div *ngIf="message.from === name; else elseBlock" class="me">

        <div class="from">{{message.from}}</div>
        <div class="content tri-right left-top">{{message.content}}</div>

        <div *ngIf="img">

            <img *ngFor="let img of imgs" src={{img}}/>

        </div>

        <div *ngIf="insta">

            <iframe id="ifrmMe" *ngFor="let insta of instas" [src]="insta | safe" (load)="setIframeHeight(this.id)">
                <p>Your browser does not support iframes.</p>
            </iframe>

        </div>

    </div>

    <ng-template #elseBlock>
        <div class="from">{{message.from}}</div>
        <div class="content tri-right left-top">{{message.content}}</div>

        <div *ngIf="img">

            <img *ngFor="let img of imgs" src={{img}}/>

        </div>

        <div *ngIf="insta">

            <iframe id="ifrm" *ngFor="let insta of instas" [src]="insta | safe" (load)="setIframeHeight(this.id)">
                <p>Your browser does not support iframes.</p>
            </iframe>

        </div>

    </ng-template>



</div>
