<div class="head">

  <button (click)="showChannelForm()"><i class="fa fa-plus" aria-hidden="true"></i></button>
  <h2>{{channel_title}}</h2>
</div>

<div class="ctn" *ngIf="showCreateChannel === true">
    <input type="text" class="name-control" id="name" required placeholder="Create new channel..." [(ngModel)]="name"
           name="name" (keypress)="addChannelHandler($event.keyCode)">
    <button class="" (click)="addChannel()"><i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>
